a.drug-report {
}

span.property-label {
	font-weight: 900
}
  	
span.nextline{
  	display: block; 
}
  	
ul.nobullets{
  	list-style-type: none;
}

.main {
    margin-bottom: 2em;
}

.iframeloading iframe {
    background-color: transparent;
    border: 0px none transparent;
    padding: 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}