/* Dependency
 */

.dependency {
    background: #CFDEE3; 
    padding: 10px;
    border: 2px solid #00BFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
}

/* DependencyFile / DependencyGraphShow
 */

.dependency-show:hover {
    border-color:  #007BFF;
}

.dependency-file-upload-hover{
	border-color: #0f5;
}

.dependency-file-upload:active, .dependency-show:active {
    border-color: #0f5;
}

.dependency-no-file-upload {
    opacity: 0.5;
}

/* DependencyGraph
 */

.dependency-graph-inner {
    position: relative;
}

.dependency-graph-outer {
    padding: 10px;
}

/* DependencyGraphForm
 */

.dependency-files-container {
    display: table;
    border-spacing: 10px;
}

.dependency-file-header {
    display: table-header-group;
    font-weight: bold;
}

.dependency-file-header * {
    display: table-cell;
}

.dependency-file {
    display: table-row;
}

.dependency-file * {
    display: table-cell;
}

.dependency-file-delete {
}

.dependency-file-input {
}

table.sample-input-file {
	border: hidden;
	border-collapse: separate;
	border-spacing: 0.5em;
}


table.sample-input-file th {
	background-color:#CFDEE3;
    border-radius: 5px;
    padding: 0.25em;
}

table.sample-input-file td {
	text-align:center;
	border: hidden;
}
p.dump{
	color: blue;
}
span.running{
	opacity: 0.5;
}
span.failed{
	color:red;
}
table.matrix tr.novel {
	background-color: #40E0D0;
}
table.matrix th {
	text-align:left;
	border-bottom:2pt solid black;
}
table.matrix td.names {
	border-right:2pt solid black;
}
table.matrix th.names {
	border-right:2pt solid black;
}
table.matrix td {
	padding: 5px;
}
table.matrix th {
	padding: 5px;
}
table.matrix tr.hovered{
	background-color: #FF99FF;
}
table.matrix caption{
	font-size:20px;
	font-weight:bold;
}

