/* Dependency
 */

.dependency {
    background: #CFDEE3;
    padding: 10px;
    border: 2px solid #00BFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
}

/* DependencyFile / DependencyGraphShow
 */

.dependency-file-upload:hover, .dependency-show:hover {
    border-color: #007BFF;
}

.dependency-file-upload:active, .dependency-show:active {
    border-color: #0f5;
}

.dependency-no-file-upload {
    opacity: 0.5;
}

/* DependencyGraph
 */

.dependency-graph-inner {
    position: relative;
}

.dependency-graph-outer {
    padding: 10px;
}

/* DependencyGraphForm
 */

.dependency-files-container {
    display: table;
    border-spacing: 10px;
}

.dependency-file-header {
    display: table-header-group;
    font-weight: bold;
}

.dependency-file-header * {
    display: table-cell;
}

.dependency-file {
    display: table-row;
}

.dependency-file * {
    display: table-cell;
}

.dependency-file-delete {
}

.dependency-file-input {
}

table.sample-input-file {
	border: hidden;
	border-collapse: separate;
	border-spacing: 2px;
}


table.sample-input-file th {
	border: hidden;
	background-color:#CFDEE3;
	color:black;
}

table.sample-input-file td {
	border: hidden;
}





	
    
