.dependency {
    background: #CFDEE3;
    padding: 10px;
    border: 2px solid #00BFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
}

.dependency-no-file-upload {
    opacity: 0.5;
}

.dependency-graph-inner {
    width: inherit;
    height: 500px;
    position: relative;
}

.dependency-graph-outer {
    padding: 10px;
}

.dependency-file {
}

.dependency-file-delete {
}

.dependency-file-input {
}
